<article id="formulaireConcert" style="border:11px solid #236586;margin-top:15px; border-radius: 0px 7px 7px 7px; position:relative; bottom:25px; padding:10px; width=100%">

<form  style="background-color: #808080" method="post" action="traitement.php">
<p class="search">Ajout d'un concert</p>
<fieldset id="coordonnees"> 

<label>Nom : </label>
<input type="text" name="nom" size="30" /><br />
<label>adresse  : </label>
<input type="text" name="adresse" /><br />
<label>id : </label>
<input type="text" name="id" size="30" /><br />
<label>cout : </label>
<input type="text" name="cout" size="30" /><br />

<label>Date  : </label>
<input type="date" name="date" /><br />
<label>Heure  : </label>
<input type="heure" name="heure" /><br />
</fieldset>
<p class="search">description</p>
<fieldset id="Description">
<textarea name="Description" rows="5" cols="40"></textarea>
</fieldset>
<p id="bouton">
<input type="submit" value="Ajouter" /> 
</p>
</form>