@charset "utf-8";
/* CSS Document */

body
{	
	margin:0px;
	padding:0px;
	background-color:#000;
	background-image:url(./../pictures/RainingMusicBackground01.bmp);    
	background-attachment:fixed;
	background-size:contain; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	
}

a
{
	font-size:medium;
	font-weight:bold;
	color:#009;
	text-decoration:none;
		
}


div.conteneur
{	
	width:100%;
	margin-left:10%; width:80%;min-width:1000px;max-width:1300px;min-height:1000px; background-color:#c8c8c8;	
}

div.right
{
	width:42%;
	float:right;
	position : relative;
	top:-300px;
	text-decoration:none;

	min-height:675px;
	
	
}

div.left
{
	width:42%;
	float:left;
	text-decoration:none;

	min-height:675px;

@charset "utf-8";
/* CSS Document */

body
{	
	margin:0px;
	padding:0px;
	
	background-image:url(./../pictures/Sanstitre3.bmp);    
	background-attachment:fixed;
	background-size:contain;
	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	
}

a
{
	font-size:medium;
	font-weight:bold;
	color:#009;
<<<<<<< HEAD
	text-decoration:underline;		
}

div.conteneur-prime

{
margin-left:10%;
width:80%;
min-width:850px;
min-height:1000px;
background-color:#c7c7c7;
}


span.left

{
    background-image:url(pictures/back.png);
    font-weight:bold;
    border-radius: 0px 0px 7px 7px;
    box-shadow: #666 6px 6px 6px 0px;
    padding-top:11px; 
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;"	
}
	


div.left
{
	width:42%;
	float:left;
	margin-left:15%;
	margin-right:15%;
	margin-top:10%;

	text-decoration:none;
		
}


div.conteneur
{	
	width:100%;
	background-color:#009;
		
}


div.right
{
	width:42%;
	float:right;
	position : relative;
	top:-300px;
	text-decoration:none;

	min-height:675px;
	
	
}


div.left
{
	width:42%;
	float:left;
	text-decoration:none;

	min-height:675px;
	




}
