@charset "utf-8";
/* CSS Document */

body
{	
	margin:0px;
	padding:0px;
	background-color:#000;
	background-image:url(./../pictures/RainingMusicBackground01.bmp);    
	background-attachment:fixed;
	background-size:contain; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	
}

a
{
	font-size:medium;
	font-weight:bold;
	color:#009;
	text-decoration:none;
		
}


div.conteneur
{	
	width:100%;
	margin-left:10%; width:80%;min-width:1000px;max-width:1300px;min-height:1000px; background-color:#c8c8c8;	
}

div.right
{
	width:42%;
	float:right;
	position : relative;
	top:-300px;
	text-decoration:none;

	min-height:675px;
	
	
}

div.left
{
	width:42%;
	float:left;
	text-decoration:none;

	min-height:675px;

}