@charset "utf-8";
/* CSS Document */

body
{	
	margin:0px;
	padding:0px;
	background-color:#000;
	/*background-image:url(./../pictures/RainingMusicBackground01.bmp);    
	background-attachment:fixed;
	background-size:cover;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	
}

a
{
	font-size:medium;
	font-weight:bold;
	color:#009;
	text-decoration:none;
		
}


div.conteneur
{	
	width:100%;
	
	margin-left:10%; width:80%;min-width:1000px;max-width:1300px;min-height:1000px; background-color:#c8c8c8; 
	/*style="margin-left:5%; width:90%; min-height:500px; height:100%; background-color:#c8c8c8; "*/
}

div.right
{
	width:42%;
	float:right;
	
	text-decoration:none;

	min-height:675px;
	
	
}

div.left
{
	width:42%;
	text-decoration:none;

	min-height:675px;
	float:left;

}

div.main
{
	height:100%;
	margin-left:0%;

}

div.pied
{
	
	float:inherit;
	margin:0px;
	padding:0px;
	top:0px;
	margin-left:0px;
	margin-right:0px;

	
	position:relative;
	clear:both;
bottom: 0px;

}

.text
{
	border-color:#000;
	border-width:2px;
	border-style:solid;
	margin-left:4px;
	overflow:hidden;
	border: 1px solid #696;
	padding: 60px 0;
	text-align: left;
	padding:15px;
	border-radius: 10px;
	box-shadow: #666 0px 0px 6px;
	

}



/*login form*/

		#loginForm
            {
            	height:170px;
            	width:250px;
				background-color:#0075b7;
	       		display:none;
		
            }
              #loginForm fieldset
            {
            	padding:10px;
            	border:none;
            }   
             #loginForm label
            {
            	display:block;
            	color:black;
            }      
            #loginForm input[type=text]
            {
            	display:block;
            	border:solid 1px black;
            	width:100%;
            	margin-bottom:10px;
            	height:24px;
            }  
            #loginForm textarea
            {
            	display:block;
            	border:solid 1px black;
            	width:100%;
            	margin-bottom:10px;
            }  
            #loginForm input[type=submit]
            {
            	background-color:#d8624f;
            	border:solid 1px #23150c;
            	color:black;
            	padding:5px;
				border-radius: 5px
            }                
            #loginLink
            {
            	height:40px;
            	width:250px;
            	background-image:url('./../pictures/connexion.png');
            	display:block;
            	cursor:pointer;

            }
            #profilLink
            {
            	height:40px;
            	width:250px;
            	
            	background-image:url('./../pictures/ActionsButton.png');
            	display:block;
            	cursor:pointer;
		    }
		    #loginFormLogIn 
            {
            	height:140px;
            	width:250px;
				background-color:#0075b7;
	       		display:none;
	       		list-style-type:none;
            } 
            #loginFormLogIn li{
            list-style-type:none;

            }
            #messageSent
            {
            	color:#ff9933;
            	display:none;
            }
          
.grey {color: #999999; text-decoration:none;}   			
			
			


/* css menu*/

a.menu:hover 

{
	text-decoration: none;
	text-decoration:underline;
}

div.conteneur-menu

{
	background-color:#e83103;
	margin-left:31%;
	height:40px;
	top:5px;
	position:relative;
	opacity:1;
	border-radius:7px 0px 0px 7px;

	
}

div.menu
{
	position:absolute;
	
	
	
}
dl.menu
{
	
	height:40px;
	margin:0px;
	padding:0px;
	display:block;
	float:left;

}

/*connexion*/


body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;z-index: 999;
}

html {
	height: 100%;
}

label#connexion
{
	float:none;
}


nav { 
	display:block; 
	margin:0 auto 20px; 
	position:relative;
	border:none;
	
}

nav ul {
	border-radius: 0px 0px 10px 0px;
	width:100%;
	height:40px;
	border:none;
	padding:0; margin:-7px 0 0 0;
	border-top:1px solid #2a323f;
	border-bottom:1px solid #2a323f;
	background:#00a0e8;
	background: -moz-linear-gradient(top, #00a0e8 0%, #39414c 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0e8), color-stop(100%,#39414c)); 
	box-shadow: 0 2px 4px #424346;
	-moz-box-shadow: 0 2px 4px #424346;
	-webkit-box-shadow: 0 2px 4px #424346;
}

nav li {
	border:none;
	position:relative;
	float:left;
}

nav ul:before { 
	
	content: '';  
	width: 100%;  
	position: absolute;  
}

nav ul:after {
	border:none;
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

nav ul ul {
	border:none;
	display:none;
	width:100%;
	position:absolute;
	left:0;
}


nav ul li {
	border:none;
	list-style:none;
	float:left;
	padding:0; margin:0;
	position:relative;
}
nav ul li.search:last-child {
	border:none;
	list-style:none;
	float:right;
	padding-right:10px; margin-top:-3px;
	position:relative;
	
}
nav ul li form.search:last-child {
	
	padding-right:10px; margin-top: 13px;
	
	
}

nav ul li a{
	border:none;
	float:left;
	padding:0 20px 0 20px; margin:0;
	height:40px;
	line-height:40px;
	color:#e0e1e3;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 1px #101215;
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	border-right:1px solid #2a323f;
	border-left: 1px solid #6d7581;
}

nav ul li#idconnect{
border:none;
	float:left;
	padding:0; margin:0;
	height:40px;
	line-height:40px;
	color:#e0e1e3;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 1px #101215;
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	border-right:1px solid #2a323f;
	border-left: 1px solid #6d7581;
	}

nav li a {
	border:none;
	display:block;
}

nav ul li:first-child a {
	
	border-left:none;
}
nav ul li:last-child a {
	border-right:none;
}

nav ul li a:hover {
	background: #586375;
	background: -moz-linear-gradient(top, #586375 0%, #4c5766 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#586375), color-stop(100%,#4c5766)); 
	color:#fff;
}

nav ul li ul {
	position:absolute;
	top:40px;
	left:0;
	border:none;
	background:#2a323f;
	height:auto;
	width:220px;
	padding:1px 0 0 0; margin:0;
	-moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px; 
    border-bottom-left-radius: 10px;
	
}
nav ul li ul:before { 
	border-top: none; 
}

nav ul li ul li a {
	color:#a5a5a5;
	padding:0 0 0 20px; margin:0;
	width:	200px; height:30px; line-height:30px;
	border:none;
	border-top:1px solid #2a323f;
	
}
nav ul li ul li a:hover {
	color:#fff;
	background: #b64f40;
	background: -moz-linear-gradient(top, #ec6e59 0%, #b64f40 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6e59), color-stop(100%,#b64f40)); 
	border-top:1px solid #f28d7c;
	box-shadow: 0 0px 8px #3b3b3b;
	-moz-box-shadow: 0 0px 8px #3b3b3b;
	-webkit-box-shadow: 0 0px 8px #3b3b3b;
}

nav ul li ul li:last-child a {
	-moz-border-bottom-left-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px; 
	border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px; 
	-webkit-border-bottom-right-radius: 10px; 
	border-bottom-right-radius: 10px;
}

/*twitter */


#twitter {
width:600px;
height:170px;
margin-left:15px;
margin:10px;
padding-left:140px;
margin-top:100px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background-color:#b8ddf3;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:17px;
color:#458cc5;




}

.oiseau {position:relative; left:-120px; top:-130px;} 

.at {position:absolute; left:240px; top:120px; color:#0e4c8b; font-family:arial; font-size:12px; font-style:normal; text-shadow:none;}



/*BARRE DE RECHERCHE*/


 
#search {
margin-top:10px;
float:right;
width:80%;
height:24px;
background:#F5F2F0;
box-shadow: 1px 1px 2px rgba(0,0,0,.3) inset

}
 
#search .btn-right-loupe {
display:block;

width:39%;
height:100%;
float:right;
margin:0
}
 
#search input {
outline:0;
border:0
position: right;
}


 
#search input[type=text] {
display:block;
font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
text-shadow:0 1px white;
float:left;
height:24px;
width:60%;
line-height:25px;
color:#666;
margin:0
}



/*FORMULAIRE DE CONTACT*/

#formulaireContact{
	/*couleur fond*/
	width:80%;
	
	/*positionnement et marge*/
	float: left;
	clear: left;
	margin:  0 0 0 0;
		
}

.centerForm{
	width:100%;
	
	min-height:675px;
}

div.left article form fieldset input{
	/*marge*/
	width:55%;
	max-width:55%;
	height: 20px;
	/*bordure*/
	border: 1px solid  #b6b7b9;
	border-radius: 5px;
	
	
}
div.left article form fieldset textarea{
	/*marge*/
	width:100%;
	max-width:480px;
	height: 100px;
	max-height:120px;
	
	/*bordure*/
	border: 1px solid  #b6b7b9;
	border-radius: 5px;
	display: block;
	float: left;
}

/*alignement des blocs d'input*/
label{
	display: block;
	float: left;
	width: 170px;
	
}
/*Style du bouton d'envoi du formulaire*/


input:hover, textarea:hover{
	background-color: #DDEEFF;
	
}

#sendButton{width:150px}

/*PRESENTATION GROUPE*/

.texte-pres-group
{
	border-color:#000;
	border-width:2px;
	border-style:solid;
	margin-left:4px;
	overflow:hidden;
	border: 1px solid #696;
	padding: 60px 0;
	text-align: left;
	padding:15px;
	border-radius: 10px;
	box-shadow: #666 0px 0px 6px;

}


dt
{
	cursor:pointer;
	width:150px;
	display:block;
	height:40px;
	color:#000;
	line-height:40px;
	text-align:center;
	border-right:dotted 1px black;
	font-weight:bold;
	
	
	
}

dd
{
	display:block;
	margin:0px;
	padding:0px;
	background-color:#3b7383;
	
}
	
dd ul
{
	margin:0px;
	padding:0px;
	text-align:center;
	list-style:none;
} 

dd ul li
{
	display:block;
	margin:0px;
	padding:0px;
}

dd ul li a
{
	color:#000;
	text-decoration:none;
	height:30px;
	line-height:30px;
	border-top:dotted 1px black;
	
	display:block;
}

dd ul li a:hover
{
	color:#000;
	background-color:#FFF;
}

dl dd
{	
	display:none;
}

dl:hover dd
{
	display:block;	
}


a
{
	font-size:medium;
	font-weight:bold;
	color:#009;
	text-decoration:none;
		
}

/*Bouton HAUT DE PAGE*/
#btntop
{
	
background-image:url(./../pictures/btnWhite03.png);
width:64px; 
height:64px; 
position: fixed; /*fixed permet un positionnement par rapport à la fenetre du navigateur*/

right:50px; 
bottom:35px; /*décalage par rapport au bas de page de 35px*/
opacity:0.3;
}


#btntop:hover
{

opacity:0.8;
}





/*BOUTON RESAUX SOCIAUX*/

 .social {
width: 293px;
margin: 0 auto;
padding:0;
height: 52px;
margin-top: 20px;

position:fixed;top:0px;margin-right:70%;
-webkit-font-smoothing: subpixel-antialiased;

}






 a.twitterbutton {
background: url("https://korben.info/wp-content/themes/korben2013/hab/social-twitter-btn.png");
width: 59px;
height: 53px;
display: block;
font-size: 0px;
margin-left: -1px;

opacity:0.5;
}

 a.facebookbutton:hover {opacity:1;}
 a.twitterbutton:hover{opacity:1;}

 a.facebookbutton {
background: url("https://korben.info/wp-content/themes/korben2013/hab/social-facebook-btn.png") ;
width: 59px;
height: 53px;
display: block;
font-size: 0px;
margin-left: -1px;

opacity:0.5;
}
/*SLIDESHOW*/
#slideshow {  
    position: relative;  
    width: 640px;  
    height: 310px;  
    padding: 15px;  
    margin: 0 auto 2em;  
    border: 1px solid #ddd;  
    background: #FFF;  
    /* CSS3 effects */  
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);  
    border-radius: 2px 2px 2px 2px;  
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);  
}  
   


#slideshow:before,  
#slideshow:after {  
    position: absolute;  
    bottom:16px;  
    z-index: -10;  
    width: 50%;  
    height: 20px;  
    content: " ";  
    background: rgba(0,0,0,0.1);  
    border-radius: 50%;  
    box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);  
}  
#slideshow:before {  
    left:0;  
    transform: rotate(-4deg);  
}  
#slideshow:after {  
    right:0;  
    transform: rotate(4deg);  
}  

#slideshow .container {  
    position:relative;  
    width: 640px;  
    height: 310px;  
    overflow: hidden;  
}  
      
/* on prévoit un petit espace gris pour la timeline */  
#slideshow .container:after {  
    position:absolute;  
    bottom: 0; left:0;  
    content: " ";  
    width: 100%;  
    height: 1px;  
    background: #999;  
}  
/*  
   le conteneur des slides 
   en largeur il fait 100% x le nombre de slides 
*/  
#slideshow .slider {  
    position: absolute;  
    left:0; top:0;  
    width: 500%;  
    height: 310px;  
    -webkit-animation: slider 32s infinite; 
}  
  
/* annulation des marges sur figure */  
#slideshow figure {  
    position:relative;  
    display:inline-block;  
    padding:0; margin:0;  
}  
/* petit effet de vignette sur les images */  
#slideshow figure:after {  
    position: absolute;  
    display:block;  
    content: " ";  
    top:0; left:0;  
    width: 100%; height: 100%;  
    box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;  
}  

@-webkit-keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
    75%, 95%        { left: -300% }  

}  


#slideshow figcaption {  
    position:absolute;  
    left:0; right:0; bottom: 5px;  
    padding: 20px;  
    margin:0;  
    border-top: 1px solid rgb(225,225,225);  
    text-align:center;  
    letter-spacing: 0.05em;  
    word-spacing: 0.05em;  
    font-family: Georgia, Times, serif;  
    background: #fff;  
    background: rgba(255,255,255,0.7);  
    color: #555;  
    text-shadow: -1px -1px 0 rgba(255,255,255,0.3);  
    -webkit-animation: figcaptionner 32s infinite; 
}  
@-webkit-keyframes figcaptionner {  
    0%, 25%, 50%, 75%, 100%                     { bottom: -55px;    }  
    5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%       { bottom: 5px;      }  
} 
